<div class="absolute">
<div class="celebrities">
  <h4>Latest updates</h4>
  <div class="celeb-item">
    <a href="/anime/vydayuschiesya-zveri/2/7" title="Серия 7 Выдающиеся звери"><img data-src="//static.amai.tv/screens/16139014245fc8d0c9b172f1a7abb3735e4b1bd8741378ebdd_min.jpg?w=70&amp;q=70&amp;fit=crop-center" alt="Скриншот из аниме Выдающиеся звери" width="70" height="70" class="loaded" src="//static.amai.tv/screens/16139014245fc8d0c9b172f1a7abb3735e4b1bd8741378ebdd_min.jpg?w=70&amp;q=70&amp;fit=crop-center" data-was-processed="true"></a>
    <div class="celeb-author">
      <h6><a href="/anime/vydayuschiesya-zveri/2/7">Выдающиеся звери</a></h6>
      <span>Серия 7 из
12
(2 Сезон)</span>
    </div>
  </div>
  <div class="celeb-item">
    <a href="/anime/magicheskaya-bitva/1/19" title="Серия 19 Магическая битва"><img data-src="//static.amai.tv/screens/1613859875d359837b0bdf916c1b93289b95375abf1d929d59_min.jpg?w=70&amp;q=70&amp;fit=crop-center" alt="Скриншот из аниме Магическая битва" width="70" height="70" class="loaded" src="//static.amai.tv/screens/1613859875d359837b0bdf916c1b93289b95375abf1d929d59_min.jpg?w=70&amp;q=70&amp;fit=crop-center" data-was-processed="true"></a>
    <div class="celeb-author">
      <h6><a href="/anime/magicheskaya-bitva/1/19">Магическая битва</a></h6>
      <span>Серия 19 из 24
</span>
    </div>
  </div>
  <div class="celeb-item">
    <a href="/anime/yasyahime-princessa-poludemon/1/20" title="Серия 20 Ясяхимэ: Принцесса-полудемон"><img data-src="//static.amai.tv/screens/161386004325c46d63ce2a9fe9596925ca659263f8ee451a91_min.jpg?w=70&amp;q=70&amp;fit=crop-center" alt="Скриншот из аниме Ясяхимэ: Принцесса-полудемон" width="70" height="70" class="loaded" src="//static.amai.tv/screens/161386004325c46d63ce2a9fe9596925ca659263f8ee451a91_min.jpg?w=70&amp;q=70&amp;fit=crop-center" data-was-processed="true"></a>
    <div class="celeb-author">
      <h6><a href="/anime/yasyahime-princessa-poludemon/1/20">Ясяхимэ: Принцесса-полудемон</a></h6>
      <span>Серия 20 из 24
</span>
    </div>
  </div>
  <div class="celeb-item">
    <a href="/anime/skejt-beskonechnost/1/7" title="Серия 7 Скейт: Бесконечность"><img data-src="//static.amai.tv/screens/1613860704f3f94ceea3c5cf67878766ed0d710b453f11116a_min.jpg?w=70&amp;q=70&amp;fit=crop-center" alt="Скриншот из аниме Скейт: Бесконечность" width="70" height="70" class="loaded" src="//static.amai.tv/screens/1613860704f3f94ceea3c5cf67878766ed0d710b453f11116a_min.jpg?w=70&amp;q=70&amp;fit=crop-center" data-was-processed="true"></a>
    <div class="celeb-author">
      <h6><a href="/anime/skejt-beskonechnost/1/7">Скейт: Бесконечность</a></h6>
      <span>Серия 7 из 12
</span>
    </div>
  </div>
  <div class="celeb-item">
    <a href="/anime/da-ya-pauk-i-chto-zhe/1/7" title="Серия 7 Да, я паук, и что же?"><img data-src="//static.amai.tv/screens/1613810022a7a7792f8a5b9e7d4977b0e1c9fd7ae5b6fd3da8_min.jpg?w=70&amp;q=70&amp;fit=crop-center" alt="Скриншот из аниме Да, я паук, и что же?" width="70" height="70" class="loaded" src="//static.amai.tv/screens/1613810022a7a7792f8a5b9e7d4977b0e1c9fd7ae5b6fd3da8_min.jpg?w=70&amp;q=70&amp;fit=crop-center" data-was-processed="true"></a>
    <div class="celeb-author">
      <h6><a href="/anime/da-ya-pauk-i-chto-zhe/1/7">Да, я паук, и что же?</a></h6>
      <span>Серия 7 из 12
</span>
    </div>
  </div>
  <div class="celeb-item">
    <a href="/anime/obeschannyj-neverlend/2/6" title="Серия 6 Обещанный Неверленд"><img data-src="//static.amai.tv/screens/161375768347c36aaa75227e87b7b1eda78cb63d9290bb4b3e_min.jpg?w=70&amp;q=70&amp;fit=crop-center" alt="Скриншот из аниме Обещанный Неверленд" width="70" height="70" class="loaded" src="//static.amai.tv/screens/161375768347c36aaa75227e87b7b1eda78cb63d9290bb4b3e_min.jpg?w=70&amp;q=70&amp;fit=crop-center" data-was-processed="true"></a>
    <div class="celeb-author">
      <h6><a href="/anime/obeschannyj-neverlend/2/6">Обещанный Неверленд</a></h6>
      <span>Серия 6 из
12
(2 Сезон)</span>
    </div>
  </div>
  <div class="celeb-item">
    <a href="/anime/doktor-stoun/2/6" title="Серия 6 Доктор Стоун"><img data-src="//static.amai.tv/screens/1613755101410fb1441984c69835c938bd3b6d3b29fb6b9baf_min.jpg?w=70&amp;q=70&amp;fit=crop-center" alt="Скриншот из аниме Доктор Стоун" width="70" height="70" class="loaded" src="//static.amai.tv/screens/1613755101410fb1441984c69835c938bd3b6d3b29fb6b9baf_min.jpg?w=70&amp;q=70&amp;fit=crop-center" data-was-processed="true"></a>
    <div class="celeb-author">
      <h6><a href="/anime/doktor-stoun/2/6">Доктор Стоун</a></h6>
      <span>Серия 6 из
24
(2 Сезон)</span>
    </div>
  </div>
  <div class="celeb-item">
    <a href="/anime/kletki-za-rabotoj/2/7" title="Серия 7 Клетки за работой"><img data-src="//static.amai.tv/screens/1613754697174dd4984ebff65ac4acdfd2af946c2324e0a1cd_min.jpg?w=70&amp;q=70&amp;fit=crop-center" alt="Скриншот из аниме Клетки за работой" width="70" height="70" class="loaded" src="//static.amai.tv/screens/1613754697174dd4984ebff65ac4acdfd2af946c2324e0a1cd_min.jpg?w=70&amp;q=70&amp;fit=crop-center" data-was-processed="true"></a>
    <div class="celeb-author">
      <h6><a href="/anime/kletki-za-rabotoj/2/7">Клетки за работой</a></h6>
      <span>Серия 7 из
13
(2 Сезон)</span>
    </div>
  </div>
  <div class="celeb-item">
    <a href="/anime/kogda-plachut-cikady/1/20" title="Серия 20 Когда плачут цикады 2020"><img data-src="//static.amai.tv/screens/161372749788c3e21e5c4f6ab3a982e355cf6df072ede2464b_min.jpg?w=70&amp;q=70&amp;fit=crop-center" alt="Скриншот из аниме Когда плачут цикады 2020" width="70" height="70" class="loaded" src="//static.amai.tv/screens/161372749788c3e21e5c4f6ab3a982e355cf6df072ede2464b_min.jpg?w=70&amp;q=70&amp;fit=crop-center" data-was-processed="true"></a>
    <div class="celeb-author">
      <h6><a href="/anime/kogda-plachut-cikady/1/20">Когда плачут цикады 2020</a></h6>
      <span>Серия 20 из 24
</span>
    </div>
  </div>
  <div class="celeb-item">
    <a href="/anime/derevenskaya-glubinka/3/6" title="Серия 6 Деревенская глубинка"><img data-src="//static.amai.tv/screens/1613680398d643eb916f59c441cf47944beef021967c115f0a_min.jpg?w=70&amp;q=70&amp;fit=crop-center" alt="Скриншот из аниме Деревенская глубинка" width="70" height="70" class="loaded" src="//static.amai.tv/screens/1613680398d643eb916f59c441cf47944beef021967c115f0a_min.jpg?w=70&amp;q=70&amp;fit=crop-center" data-was-processed="true"></a>
    <div class="celeb-author">
      <h6><a href="/anime/derevenskaya-glubinka/3/6">Деревенская глубинка</a></h6>
      <span>Серия 6 из
12
(3 Сезон)</span>
    </div>
  </div>
  <a href="/new-anime-series" class="btn">Все обновления <i class="ion-ios-arrow-right"></i></a>
</div> </div>
